/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.title {
    margin: 0;
}

#description {
    margin-top: 5px;
    color: teal;
}

.main {
    padding: 20px;
}

/* Styles for Tabs */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color: teal;
}

.tabs__radio {
    display: none;
}

.tabs__label {
    padding: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

/* Show content when radio button is checked */
.tabs__radio:checked ~ .tab__content {
    display: block;
}

.tab__content {
    display: none;
}

.book {
    border: 1px solid teal;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 400px;
    color: black;
}

.book__image {
    width: 200px;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover; /* Ensures the image covers the entire container */
}
.book__description p {
    margin-top: 10px;
    word-wrap: break-word;
}

.book__info .price {
    font-weight: bold;
}


.button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: teal;
}


/* Default to close all tabs */
#content-kitchen,
#content-sport,
#content-nature,
#content-history {
    display: none;
}

/* Show content when radio button is checked */
#kitchen:checked ~ #content-kitchen,
#sport:checked ~ #content-sport,
#nature:checked ~ #content-nature,
#history:checked ~ #content-history {
    display: block;
}

/* Cart dropdown */
.cart-dropdown {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.cart {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    color: black;
    display: inline-block; /* Ensure the cart container takes up only the necessary space */
}

.cart-icon {
    width: auto;
    height: auto;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

}

.cart-icon:hover {
    background-color: teal;
}

.cart-content {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    max-width: 300px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.cart:hover .cart-content {
    display: block;
}

.mini-image img {
    width: 30px;
    height: auto;
    display: inline-block;
    margin-right: 5px;
}

.cart-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}

.cart-item span {
    flex: 1; /* Allow item name and price to expand to fill available space */
    text-overflow: ellipsis;
    margin-right: 10px; /* Add space between item name and price */
}


.remove-button {
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: teal;
}

.remove-button:active {
    transform: scale(0.9);
}

/* Cart item style */
.cart-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}

.cart-item span {
    flex: 1;
    text-overflow: ellipsis;
    margin-right: 10px;
}
/* Sort button */
.sort-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-button:hover {
    background-color: teal;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu when hovering over the sort button */
.sort-dropdown:hover .dropdown-content {
    display: block;
}

/* Style the sort options */
.sort-option {
    background-color: #f9f9f9;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Change background color of sort options on hover */
.sort-option:hover {
    background-color: teal;
}